canvas {
	display: block;
}

#left {
	position: absolute;
	top: 10px;
	left: 10px;
}

#right {
	position: absolute;
	top: 10px;
	left: 400px;
}

#right > div {
	border: solid 1px #EEEEEE;
	background-color: #EEEEEE;
	padding: 4px 2px;
	margin: 5px 0px;
	width: 225px;
	overflow: hidden;
}

/********************
 * tsumo            *
 ********************/
#tsumo {
	margin: 0px 0px 10px;
}

/********************
 * field            *
 ********************/
#field {

}

#tsumoAndField {
	float: left;
	margin: 0px 10px 0px 0px;
}

/********************
 * next             *
 ********************/
#next {

}

/********************
 * tsumoList        *
 ********************/
#tsumoList {
	margin: 10px;
}

/********************
 * box              *
 ********************/
#box {
	margin: 10px;
}

/********************
 * nazoDiv          *
 ********************/
#nazo {
	margin: 10px;
}

/********************
 * buttonDiv        *
 ********************/
.buttonDiv {

}

div.button {
	margin: 5px;
	padding: 7px;
	color: #555555;
	font-weight: bold;
	font-size: 12px;
	border-radius: 3px;
	border: solid 1px #888888;
	border-bottom: solid 3px #888888;
	float: left;
	text-align: center;
	user-select: none;
}

div.button:not(.disabled):active {
	transform: translateY(2px);
	border-bottom: solid 1px #888888;
}

div.button.disabled {
	opacity: .5;
}

#editorButtonDiv {
	display: none;
}

/********************
 * anslistDiv       *
 ********************/
#anslistDiv {
	display: none;
	border: solid 1px #EEEEEE;
	background-color: #EEEEEE;
	margin: 0px 0px 10px;
}

#anslistDiv input[type="radio"] {
	display: none;
}

#anslistDiv td {
	width: 40px;
	height: 40px;
}

#anslistDiv label {
	display: block;
	border: solid 1px #CCCCCC;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin: auto auto;
	text-align: center;
	color: rgba(0,0,0,0);
	background-color: #FFFFFF;
	user-select: none;
	transition: all 300ms 0s ease;
}

#anslistDiv input[type="radio"]:checked + label {
	background-color: #FF4C4C;
	border: solid 1px #FF4C4C;
	color: #FFFFFF;
	width: 25px;
	height: 25px;
	transition: all 300ms 0s ease;
	line-height: 25px;
}

#anslistDiv input[type="radio"]:disabled + label {
	background-color: rgba(0,0,0,0);
	color: rgba(0,0,0,0);
	border: none;
	transition: all 300ms 0s ease;
}

/* load screen */
#load {
	display: table;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #FFFFFF;
	opacity: 0.8;
	z-index: 99;
}

#loadMsg {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding-top: 120px;
	background: url("../img/loading.gif") center center no-repeat;
	color: #666666;
}

/* upper message box */
.upperMsg {
	color: #000000;
	border-top: solid 10px #000000;
	border-bottom: solid 1px #000000;
	border-left: solid 1px #000000;
	border-right: solid 1px #000000;
	padding: 0.5em 1em;
	margin: 0;
	background: white;
	border-radius: 4px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.22);
	z-index: 1;
	width: auto;
	height: 30px;
	top: -100px;
	left: 50%;
	position: absolute;
}

#mode {
	height: 30px;
	margin: 0px 0px 10px 0px;
}

#mode input[type="radio"] {
	display: none;
}

#mode label {
	color: #888888;
	font-weight: bold;
	display: block;
	float: left;
	text-align: center;
	font-size: 12px;
	border: solid 1px #888888;
	background-color: #DDDDDD;
	width: 50px;
	padding: 7px;
	margin: 0px 4px;
	border-radius: 4px;
	user-select: none;
}

#mode input[type="radio"]:checked + label {
	color: #333333;
	background-color: #00FF7F;
	transition: all 500ms 0s ease;
}

#mode label:hover {
	background-color: #A3FFD1;
	transition: all 300ms 0s ease;
}

span.subject {
	color: #333333;
	font-weight: bold;
}