/********************
 * header           *
 ********************/
header {
	font-size: 16px;
	font-weight: bold;
	margin: 0px 0px 20px;
	padding: 8px 30px;
	background-color: #D8E0E0;
}

header > a, span {
	margin: 0px 5px;
}

header > a {
	color: #0088EE;
}

/********************
 * row              *
 ********************/
div.row {
	float: left;
	margin: 0px 10px 0px 0px;
}

#playerTsumoFieldArea {
	margin: 0px 0px 0px 20px;
}

#modelNextArea {
	margin: 0px 0px 0px 20px;
}

canvas {
	display: block;
}

#setting {
	margin: 0px 0px 0px 20px;
}

#setting > div {
	border: solid 1px #EEEEEE;
	background-color: #EEEEEE;
	padding: 4px 2px;
	margin: 5px 0px;
	width: 250px;
}

span.subject {
	color: #333333;
	font-size: 13px;
	font-weight: bold;
}

/********************
 * tsumo            *
 ********************/
.tsumo {
	margin: 0px 0px 10px;
}

#modelTsumo {
	visibility: hidden;
}

/********************
 * field            *
 ********************/
.field {

}

/********************
 * next             *
 ********************/
.next {

}

/********************
 * tsumoList        *
 ********************/
#tsumoList {
	margin: 10px;
}

/********************
 * box              *
 ********************/
#box {
	margin: 10px;
}

/********************
 * nazoInfo         *
 ********************/
#nazo {
	margin: 10px;
}

/********************
 * nazoAnswer       *
 ********************/
#miniTsumoList {
	margin: 10px;
}

#nazoAnswer {
	display: none;
}

#nazoAnswer input[type="radio"] {
	display: none;
}

#nazoAnswer td {
	width: 30px;
	height: 30px;
}

#nazoAnswer label {
	display: block;
	border: solid 1px #CCCCCC;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: auto auto;
	text-align: center;
	color: rgba(0,0,0,0);
	background-color: #FFFFFF;
	user-select: none;
	transition: all 300ms 0s ease;
}

#nazoAnswer input[type="radio"]:checked + label {
	background-color: #FF4C4C;
	border: solid 1px #FF4C4C;
	color: #FFFFFF;
	width: 20px;
	height: 20px;
	transition: all 300ms 0s ease;
	line-height: 20px;
}

#nazoAnswer input[type="radio"]:disabled + label {
	background-color: rgba(0,0,0,0);
	color: rgba(0,0,0,0);
	border: none;
	transition: all 300ms 0s ease;
}

/********************
 * load screen      *
 ********************/
#load {
	display: table;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #FFFFFF;
	opacity: 0.8;
	z-index: 99;
}

#loadMsg {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding-top: 120px;
	background: url("../img/loading.gif") center center no-repeat;
	color: #666666;
}

/********************
 * message box      *
 ********************/
.upperMsg {
	color: #000000;
	border-top: solid 10px #000000;
	border-bottom: solid 1px #000000;
	border-left: solid 1px #000000;
	border-right: solid 1px #000000;
	padding: 0.5em 1em;
	margin: 0;
	background: white;
	border-radius: 4px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.22);
	z-index: 1;
	width: auto;
	height: 30px;
	top: -100px;
	left: 50%;
	position: absolute;
}

/********************
 * tooltip          *
 ********************/
.remarks {
	color: #0000FF;
	text-decoration: underline;
}

.remarks:hover {
	cursor: pointer;
}

.tooltip {
	position: absolute;
	width: 150px;
	padding: 10px;
	border-radius: 5px;
	background: #505050;
	color: #FFFFFF;
	top: -10px;
	left: 40px;
	text-align: left;
}

/********************
 * earlyDataList    *
 ********************/
#earlyDataList td,th {
	border: 1px #808080 solid;
}

#earlyDataList td {
	padding: 2px;
	position: relative;
	text-align: center;
}

#earlyDataList th {
	padding: 5px;
	background: #AAAAAA;
}

table#earlyDataList {
	margin: 4px 0px;
	border-collapse: collapse;
	border-spacing: 0;
	background: #FFFFFF;
}

table#earlyDataList .chooseH {
	width: 45px;
}

table#earlyDataList .dateH {
	width: 140px;
}

table#earlyDataList .remarksH {
	width: 40px;
}

select#player {
	margin: 4px 0px;
}