<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/base.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<title>Puyo</title>
</head>
<body>
	<!--/* header */-->
	<header>
		<a class="modeLink" href="editor" th:if="${mode!='editor'}">エディター</a><span th:if="${mode=='editor'}">エディター</span>
		<a class="modeLink" href="tokopuyo" th:if="${mode!='tokopuyo'}">とこぷよ</a><span th:if="${mode=='tokopuyo'}">とこぷよ</span>
		<a class="modeLink" href="nazotoki" th:if="${mode!='nazotoki'}">なぞとき</a><span th:if="${mode=='nazotoki'}">なぞとき</span>
		<a class="modeLink" href="early" th:if="${mode!='early'}">序盤練習</a><span th:if="${mode=='early'}">序盤練習</span>
	</header>

	<!--/* hidden */-->
	<input type="hidden" id="lastField" th:if="${mode=='editor'}" th:value="${lastField}">

	<!--/* 1列目 */-->
	<div class="row" id="playerTsumoFieldArea">
		<canvas id="tsumo" class="tsumo"></canvas>
		<canvas id="field" class="field"></canvas>
	</div>

	<!--/* 2列目 */-->
	<div class="row" id="playerNextArea">
		<canvas id="next" class="next"></canvas>
		<!--/* <canvas id="notice" width="271" height="56"></canvas> */-->
	</div>

	<!--/* 3列目 */-->
	<div class="row" id="modelNextArea" th:if="${mode=='early'}">
		<canvas id="modelNext" class="next"></canvas>
	</div>

	<!--/* 4列目 */-->
	<div class="row" id="modelTsumoFieldArea" th:if="${mode=='early'}">
		<canvas id="modelTsumo" class="tsumo"></canvas>
		<canvas id="modelField" class="field"></canvas>
	</div>

	<!--/* 5列目 */-->
	<div class="row" id="setting">
		<!--/* 全モード共通 */-->
		<div id="option">
			<span class="subject">アニメーションの設定</span>
			<input type="range" id="speed" value="5" min="1" max="9" step="1">
			<span id="speedVal">5</span>
			<br>
			<input type="radio" name="animation" id="animation" value="1"><label for="animation">animation</label>
			<input type="radio" name="animation" id="step" value="0" checked><label for="step">step</label>
		</div>

		<!--/* エディター、なぞとき共通 */-->
		<div id="oitene" th:if="${mode=='editor' || mode=='nazotoki'}">
			<span class="subject">PUYOを置いてね</span><br>
			<canvas id="box"></canvas>
			<button id="clear">クリア</button>
			<button id="undo">元に戻す</button>
			<button id="redo">やり直し</button>
		</div>

		<!--/* エディター */-->
		<div th:if="${mode=='editor'}">
			<button id="drop">スタート</button>
		</div>

		<!--/* なぞとき */-->
		<div id="nazoInfo" th:if="${mode=='nazotoki'}">
			<span class="subject">NEXTを決めてね</span><br>
			<canvas id="tsumoList"></canvas>

			<hr>

			<span class="subject">お題を決めてね</span><br>
			<div id="nazo">
				<select id="nazoType">
					<option value="1">XX連鎖するべし</option>
					<option value="2">ぷよすべて消すべし</option>
					<option value="3">XXぷよすべて消すべし</option>
					<option value="4">XX色同時に消すべし</option>
					<option value="5">XX匹同時に消すべし</option>
				</select>
				<br>
				<select id="nazoRequire">
				</select>
			</div>

			<hr>

			<button id="findAnswer">こたえ検索</button>
		</div>

		<div id="nazoAnswer" th:if="${mode=='nazotoki'}">
			<span class="subject">お題</span>
			<canvas id="miniTsumoList"></canvas>
			<span id="question"></span>

			<hr>

			<span class="subject">再生するこたえをえらんでね</span><br>
			<table>
				<tr>
					<td><input type="radio" name="ansradio" id="ans1" value="1" disabled="disabled" /><label for="ans1">1</label></td>
					<td><input type="radio" name="ansradio" id="ans2" value="2" disabled="disabled" /><label for="ans2">2</label></td>
					<td><input type="radio" name="ansradio" id="ans3" value="3" disabled="disabled" /><label for="ans3">3</label></td>
					<td><input type="radio" name="ansradio" id="ans4" value="4" disabled="disabled" /><label for="ans4">4</label></td>
					<td><input type="radio" name="ansradio" id="ans5" value="5" disabled="disabled" /><label for="ans5">5</label></td>
				</tr>
				<tr>
					<td><input type="radio" name="ansradio" id="ans6" value="6" disabled="disabled" /><label for="ans6">6</label></td>
					<td><input type="radio" name="ansradio" id="ans7" value="7" disabled="disabled" /><label for="ans7">7</label></td>
					<td><input type="radio" name="ansradio" id="ans8" value="8" disabled="disabled" /><label for="ans8">8</label></td>
					<td><input type="radio" name="ansradio" id="ans9" value="9" disabled="disabled" /><label for="ans9">9</label></td>
					<td><input type="radio" name="ansradio" id="ans10" value="10" disabled="disabled" /><label for="ans10">10</label></td>
				</tr>
			</table>

			<button id="playAnswer">こたえ再生</button>
			<button id="back">もどる</button>
		</div>

		<!--/* 序盤練習 */-->
		<div th:if="${mode=='early'}">
			<span class="subject">プレイヤーを選んでね</span><br>
			<select id="player">
				<option value=""></option>
				<option th:each="player : ${players}"
						th:value="${player.playerId}"
						th:text="${player.playerName}">
				</option>
			</select><br>

			<hr>

			<span class="subject">データを選んでね</span>

			<table id="earlyDataList">
				<thead>
					<tr>
						<th class="chooseH"></th>
						<th class="dateH">日付 - 番号</th>
						<th class="remarksH">詳細</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>

	<!-- load screen -->
	<div id="load" style="display: none;">
		<div id="loadMsg"></div>
	</div>

	<script th:src="@{/js/{mode}_bundle.js (mode=${mode})}"></script>
</body>
</html>
